header {
    width: 100%;

.header-logo{
    display: flex;
    width: 20%;
    margin-left: 100px;
}  

img{
    margin-top: 100px;
}

.linha{
    height: 3px;
    width: 100%;
    margin-top: 20px;
    background-color: #fbaf28;
}
}

@media screen and (max-width: 768px) {
    .header-logo img {
    width: 160px;
    margin-left: -50px;
    margin-top: 50px;
}  

}
